@model ITestApp.Web.Models.TestViewModels.CreateTestViewModel
@{
    ViewData["Title"] = "New Test";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Test" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Test.Title"></label>
                <input asp-for="Test.Title" class="form-control" placeholder="Test name" />
                <span asp-validation-for="Test.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.RequiredTime"></label>
                <input asp-for="Test.RequiredTime" class="form-control" placeholder="Required time" />
                <span asp-validation-for="Test.RequiredTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Test.Category"></label>
                    <select asp-for="Test.Category" class="form-control" id="categories-select">
                        @foreach(var category in Model.Categories)
                        {
                            <option>@category.Name</option>

                        }
                    </select>
                </div>
                <span asp-validation-for="Test.Category" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <br />
            <input type="button" name="Add" value="Add question" id="add-question-btn" />
            <div id="question-container">

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/creating-test.js"></script>
}
