<div>
    <p>Answer 1:</p>
    <textarea></textarea>
    <div>
        <button type="button" class="btn btn-default btn-sm btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
</div>
