@model ITestApp.Web.Models.CreateTestViewModels.CreateAnswerViewModel

<div class="answer-content">
    <p>Answer:</p>
    <textarea></textarea>
    <div>
        <button type="button" class="btn btn-default btn-sm btn-danger delete-answer-btn">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
    <hr />
</div>

