
@{
    ViewData["Title"] = "_QuestionPartialView";
    ViewData["AnswerCount"] = 3;
}
<div class="question-holder">
    <div>
        <p>Question:</p>
        <textarea></textarea>
        <div>
            <button type="button" class="btn btn-default btn-sm btn-danger delete-question-btn">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <hr />
    </div>
    <div>
        <div class="answer-holder">
            <p>Answer:</p>
            <textarea></textarea>
            <div>
                <button type="button" class="btn btn-default btn-sm btn-danger delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="answer-holder">
            <p>Answer:</p>
            <textarea></textarea>
            <div>
                <button type="button" class="btn btn-default btn-sm btn-danger delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="answer-holder">
            <p>Answer:</p>
            <textarea></textarea>
            <div>
                <button type="button" class="btn btn-default btn-sm btn-danger delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="extra-answer-container"></div>
        <button type="button" class="btn btn-success add-answer-btn">Add answer</button>
    </div>
</div>

