@model ITestApp.Web.Areas.Administration.Models.MangeTestsViewModels.CreateQuestionViewModel
@{ 
    int counter = 1;
}
<h3>Question <span class="question-number">@ViewData["QuestionNumber"]</span></h3>
<div class="question-holder">
    <div class="question-content">
        <h4><strong>Question</strong><span class="question-number"></span>:</h4>
        <div class="summernote">@Html.Raw(Model.Content)</div>
        <div>
            <button type="button" class="btn btn-default btn-sm btn-danger delete-question-btn">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <hr />
    </div>
    <div class="answer-holder">
        @foreach (var answer in Model.Answers)
        {
            <div class="answer-content">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <strong>Answer <span class="answer-number">@(counter++)</span>:</strong>
                    </div>
                    <div class="col-xs-6 col-md-9 text-right">
                        @if (answer.IsCorrect)
                        {
                            <input type="checkbox" class="correct-answer-cb" value="option1" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="correct-answer-cb" value="option1">
                        }
                        Correct answer?
                    </div>
                </div>
                <div class="summernote">@Html.Raw(answer.Content)</div>
                <div>
                    <button type="button" class="btn btn-default btn-sm btn-danger delete-answer-btn">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
                <hr />
            </div>
        }
        <div class="extra-answer-container"></div>
        <button type="button" class="btn btn-success add-answer-btn">Add answer</button>
    </div>
</div>

